<form name="userForm" ng-init="userFormInit()" ng-submit="submitUser(user)">
<div class="panel" ng-class="data_errors ? 'panel-danger' : 'panel-default'">
  <div class="panel-heading">
    <div class="panel-title" ng-if="!user.id"><%= I18n.t :"page.static.new" %><%= I18n.t :"user.modelname" %></div>
    <div class="panel-title" ng-if="user.id"><%= I18n.t :"page.static.edit" %><%= I18n.t :"user.modelname" %></div>
  </div>
  <div class="panel-body">
    <div class="row" ng-if="data_errors">
      <div class="col-sm-12 error-flash">
        <ul>
          <li ng-repeat="error in data_errors">{{error}}</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label"><%= I18n.t :"user.username" %><span class="red">*</span></label>
          <input type="text" ng-model="user.username" class="form-control input-width" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label"><%= I18n.t :"user.email" %><span class="red">*</span></label>
          <input type="text" ng-model="user.email" class="form-control input-width" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label"><%= I18n.t :"user.password" %></label>
          <input type="password" ng-model="user.password" class="form-control input-width" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label"><%= I18n.t :"user.password_confirmation" %></label>
          <input type="password" ng-model="user.password_confirmation" class="form-control input-width" />
        </div>
      </div>
    </div>

    <div class="row">
      <% if current_user.id == 1 %>
        <div class="col-sm-6">
          <div class="form-group">
            <label><%= I18n.t :"user.approved" %></label>
            <input type="checkbox" ng-model="user.approved">
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <button class="btn btn-success" ng-class="{'disabled': !user}"><%= I18n.t :"page.static.submit" %></button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
