<ol class="breadcrumb white">
	<li><a href="/"><%= I18n.t :"page.static.home" %></a></li>
	<li><a href="/users"><%= I18n.t :"user.modelname" %></a></li>
	<li class="active">{{user.username}}</li>
</ol>
<div class="action-bar">
  <div class="action-btns">
    <a href="javascript:void(0);" ng-click="goBack()" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
    <a ng-href="/users/{{user.id}}/edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i></a>
    <a href="javascript:void(0);" ng-click="refreshPage()" class="btn btn-default"><i class="fa fa-refresh"></i></a>
    <a href="javascript:void(0);" print-div="#print-area" class="btn btn-default"><i class="fa fa-print"></i></a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
			{{user.username}}
			<div class="gray pull-right font12">
				<%= I18n.t :"page.static.updated_at" %>：{{user.updated_at}}
	      <%= I18n.t :"page.static.created_at" %>：{{user.created_at}}
			</div>
		</div>
  </div>
  <div class="panel-body">
		<div role="tabpanel">
			 <!-- Nav tabs-->
			 <ul role="tablist" class="nav nav-tabs">
					<li role="presentation" class="active"><a href="#base" ng-click="$event.preventDefault()" aria-controls="base" role="tab" data-toggle="tab"><%= I18n.t :"page.static.basic_information" %></a>
					</li>
					<li role="presentation"><a href="#histories" ng-click="getHistories('User', user.id);$event.preventDefault()" aria-controls="histories" role="tab" data-toggle="tab"><%= I18n.t :"page.static.histories" %></a>
			 </ul>
			 <!-- Tab panes-->
			 <div class="tab-content">
					<div id="base" role="tabpanel" class="tab-pane active">
						<table class="table table-bordered table-cus" ng-init="userInit()">
				      <tr>
				       <th><%= I18n.t :"user.username" %></th>
				       <td>{{user.username}}</td>
				       <th><%= I18n.t :"user.email" %></th>
				       <td>{{user.email}}</td>
				      </tr>
				    </table>
					</div>
					<div id="histories" role="tabpanel" class="tab-pane">
            <div ng-include="'/templates/histories.html'" ng-if="histories"></div>
          </div>
			 </div>
		</div>
  </div>
</div>
