<ol class="breadcrumb white">
  <li><a href="/"><%= I18n.t :"page.static.home" %></a></li>
  <li class="active"><%= I18n.t :"client.modelname" %> <span ng-bind="clients.meta.total"></span> <%= I18n.t :"page.static.unit" %></li>
</ol>
<div class="action-bar">
  <div class="action-btns form-inline">
    <a ng-href="/clients/new" class="btn btn-default"><i class="fa fa-plus"></i></a>
    <!-- <a ng-href="/clients/new" class="btn btn-default"><i class="fa fa-pencil-square-o"></i></a> -->
    <a href="javascript:void(0);" class="btn btn-default" ng-click="deleteAllAlert(clients,client)"><i class="fa fa-trash-o"></i></a>
    <a href="javascript:void(0);" ng-click="refreshPage()" class="btn btn-default"><i class="fa fa-refresh"></i></a>
    <!-- <a href="javascript:void(0);" print-div="#print-area" class="btn btn-default"><i class="fa fa-print"></i></a> -->
    <button class="btn btn-default" data-toggle="collapse" data-target="#table-search" data-animate="" data-play="bounceInUp"><i class="fa fa-search"></i></button>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <%= I18n.t :"page.static.more" %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="javascript:void(0);" ng-click="setPerpage(15)"><%= I18n.t :"page.static.per_page" %> 15 <%= I18n.t :"page.static.unit" %></a></li>
        <li><a href="javascript:void(0);" ng-click="setPerpage(50)"><%= I18n.t :"page.static.per_page" %> 50 <%= I18n.t :"page.static.unit" %></a></li>
        <li class="divider"></li>
        <li><a ng-href="/properties?t=client" target="_blank"><%= I18n.t :"page.static.custom" %></a></li>
        <li><a href="javascript:void(0);" ng-click="export()"><%= I18n.t :"page.static.export" %></a></li>
        <li><a href="javascript:void(0);" print-div="#print-area"><%= I18n.t :"page.static.print" %></a></li>
      </ul>
    </div>
    <div ng-include="'/templates/user_views.html'" class="btn-group" ng-controller="UserViewsCtrl" ng-init="getCurrentUserViews('Api::V1::Client')">
    </div>
  </div>

  <div class="willPaginate"
   data-params="willPaginateCollection"
   data-on-click="getPage"
   data-config="willPaginateConfig"
   ng-if="clients.meta.total > clients.meta.perpage">
  </div>
</div>
<div class="panel panel-default table-responsive" id="print-area">
  <div class="panel-body">
    <table class="table table-striped table-hover table-auto" ng-init="getData()">
      <thead>
        <tr>
          <th>
            <div class="btn-group">
               <a href="#" ng-click="initSelectField()" data-toggle="dropdown">
                 <em class="fa fa-th-list"></em>
               </a>
               <ul role="menu" class="dropdown-menu">
                 <li><input type="checkbox" ng-model="select_fields['0']" ng-click="select_all_fields()"/><label><%= I18n.t :"page.static.show_and_hidden" %></label></li>
                 <li class="divider"></li>
                 <li><input type="checkbox" ng-model="select_fields['name']" ng-checked="isShow('name')"/><span><%= I18n.t :"client.name" %></span></li>
                 <li><input type="checkbox" ng-model="select_fields['category_id']" ng-checked="isShow('category_id')"/><span><%= I18n.t :"client.category_id" %></span></li>
                 <li><input type="checkbox" ng-model="select_fields['phone']" ng-checked="isShow('phone')" /><span><%= I18n.t :"client.phone" %></span></li>
                 <li><input type="checkbox" ng-model="select_fields['email']" ng-checked="isShow('email')" /><span><%= I18n.t :"client.email" %></span></li>
                 <li><input type="checkbox" ng-model="select_fields['address']" ng-checked="isShow('address')" /><span><%= I18n.t :"client.address" %></span></li>
                 <li><input type="checkbox" ng-model="select_fields['remark']" ng-checked="isShow('remark')" /><span><%= I18n.t :"client.remark" %></span></li>
                 <li><input type="checkbox" ng-model="select_fields['created_at']" ng-checked="isShow('created_at')" /><span><%= I18n.t :"client.created_at" %></span></li>
                 <li class="divider"></li>
                 <li>
                   <button class="btn btn-success btn-xs" ng-click="openModal()"><%= I18n.t :"page.static.new" %></button>
                   <button class="btn btn-info btn-xs" ng-show="current_view.id" ng-click="openModal(current_view.id)"><%= I18n.t :"page.static.update" %></button>
                   <button class="btn btn-danger btn-xs" ng-show="current_view.id" ng-click="deleteView()"><%= I18n.t :"page.static.delete" %></button>
                 </li>
               </ul>
            </div>
          </th>
          <!-- <th><%= I18n.t :"page.static.num" %></th> -->
          <th><input type="checkbox" ng-model="select_datas[0]" ng-click="select_items(clients)"/></th>
          <th ng-show="isShow('name')"><%= I18n.t :"client.name" %></th>
          <th ng-show="isShow('category_id')"><%= I18n.t :"client.category_id" %></th>
          <th ng-show="isShow('phone')"><%= I18n.t :"client.phone" %></th>
          <th ng-show="isShow('email')"><%= I18n.t :"client.email" %></th>
          <th ng-show="isShow('address')"><%= I18n.t :"client.address" %></th>
          <th ng-show="isShow('remark')"><%= I18n.t :"client.remark" %></th>
          <th ng-show="isShow('created_at')"><%= I18n.t :"client.created_at" %></th>
        </tr>
        <tr class="table-search" class="collapse" id="table-search">
          <td></td>
          <td></td>
          <td ng-show="isShow('name')"><%= search_text(field: "name") %><%= search_button("clients") %></td>
          <td ng-show="isShow('category_id')"><%= search_text(field: "category_name") %></td>
          <td ng-show="isShow('phone')"><%= search_text(field: "phone") %></td>
          <td ng-show="isShow('email')"><%= search_text(field: "email") %></td>
          <td ng-show="isShow('address')"><%= search_text(field: "address") %></td>
          <td ng-show="isShow('remark')"><%= search_text(field: "remark") %></td>
          <td ng-show="isShow('created_at')"><%= search_date(field: "created_at") %></td>
        </tr>
      </thead>
      <tbody>
       <tr ng-repeat="client in clients">
         <td>
           <!-- <span ng-bind="$index + 1"></span> -->
           <div class="btn-group operate">
              <a href="#" ng-click="$event.preventDefault()" data-toggle="dropdown">
                <em class="fa fa-sliders"></em>
              </a>
              <ul role="menu" class="dropdown-menu">
                <li>
                  <a ng-href="/clients/{{client.id}}/edit">
                    <i class="fa fa-pencil-square-o"></i>
                    <span><%= I18n.t :"page.static.edit" %></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);" ng-click="deleteAlert(clients,client)">
                    <i class="fa fa-trash-o"></i>
                    <span><%= I18n.t :"page.static.delete" %></span>
                  </a>
                </li>
                <li>
                  <a ng-href="/clients/{{client.id}}">
                    <i class="fa fa-newspaper-o"></i>
                    <span><%= I18n.t :"page.static.detail" %></span>
                  </a>
                </li>
              </ul>
           </div>
         </td>
         <!-- <td ng-bind="$index + 1"></td> -->
         <td><input type="checkbox" ng-model="select_datas[client.id]" ng-click="select_item(clients)" /></td>
         <td ng-show="isShow('name')"><a ng-href="/clients/{{client.id}}">{{ client.name }}</a></td>
         <td ng-show="isShow('category_id')">{{ client.category }}</td>
         <td ng-show="isShow('phone')">{{ client.phone }}</td>
         <td ng-show="isShow('email')">{{ client.email }}</td>
         <td ng-show="isShow('address')">{{ client.address }}</td>
         <td ng-show="isShow('remark')">{{ client.remark }}</td>
         <td ng-show="isShow('created_at')">{{ client.created_at }}</td>
       </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="action-bar">
  <div class="willPaginate"
   data-params="willPaginateCollection"
   data-on-click="getPage"
   data-config="willPaginateConfig"
   ng-if="clients.meta.total > clients.meta.perpage">
  </div>
</div>
